/vendor/
/.phpunit.cache/
/build/
__pycache__/
*.py[cod]
/.idea/
/.vscode/
composer.phar
phpunit.xml
tests/Fixtures/*/storage/database.sqlite
tests/Fixtures/*/storage/framework/raceproof/
tests/Fixtures/*/storage/logs/*.log
