includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    level: max
    paths:
        - src
        - runtime/src
        - tools
    tmpDir: build/phpstan
    treatPhpDocTypesAsCertain: false
