<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/11.5/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
         cacheDirectory="build/phpunit-cache"
         failOnRisky="true"
         failOnWarning="true"
         beStrictAboutOutputDuringTests="true">
    <source>
        <include>
            <directory suffix=".php">src</directory>
            <directory suffix=".php">runtime/src</directory>
        </include>
    </source>
    <testsuites>
        <testsuite name="Unit">
            <directory>tests/Unit</directory>
        </testsuite>
        <testsuite name="Integration">
            <directory>tests/Integration</directory>
        </testsuite>
        <testsuite name="Database">
            <directory>tests/Database</directory>
        </testsuite>
        <testsuite name="Redis">
            <directory>tests/Redis</directory>
        </testsuite>
    </testsuites>
    <php>
        <env name="APP_ENV" value="testing" force="true"/>
        <env name="RACEPROOF_ENABLED" value="true" force="true"/>
    </php>
</phpunit>
